body {
    font-family: 'Lora', serif;
    font-size: 15px;
    margin: 0;
    height: 100%;
    width: 100%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#header {
    grid-area: 1 / 1 / 2 / 5;
    background: #20131c;
    color: #c79532;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    min-height: 15vh;
}

#header img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

#sidebar {
    background: #1b263b;
    color: #c79532;
    text-align: center;

}

#content {
    background: #4d1526;
    height: 80vh;
    display: grid;
    overflow: auto;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-template-rows: repeat(auto-fit, 17rem);
    padding: 1.5rem;
}

.book {
    text-align: center;
    color: #20131c;
    background: #70798c;
    height: 15rem;
    width: 8rem;
    padding: 0.2rem;
    display: grid;
}

.removeBtn {
    font-family:  'Lora', serif;
    height: 1.5rem;
    width: 4rem;
    align-self: flex-end;
    justify-self: center;
}